@charset "utf-8";
/* スマホで見る ここから */
ul.sp-boxes {
    padding-left: 0;
}
ul.sp-boxes > li {
    list-style: none;
    display: inline-block;
    vertical-align: top;
}
ul.sp-boxes > li:not(:last-child) {
    padding-right: 1%;
}
ul.sp-boxes.boxes2 > li:first-child {
    width: 40%;
}
ul.sp-boxes.boxes2 > li:last-child {
    width: 58%;
}
ul.sp-boxes.boxes2 > li {
    text-align: center;
}
ul.sp-boxes.boxes2 > li > ul {
    text-align: left;
    padding-left: 1em;
    font-size: 90%;
}
ul.sp-boxes.boxes2 > li > p:first-child {
    font-size: 2.2rem;
    font-weight: 500;
    margin-top: 40px;
    margin-bottom: 20px;
    padding-bottom: 8px;
    border-bottom: 3px solid #ffd8d8;
    color: #555555;
    line-height: 1.3;
/*
    position: relative;
    font-size: 1.5rem;
    font-weight: bold;
    border-bottom: 1px solid #d93c38;
    margin:0 0 20px
*/
}
/*ul.sp-boxes.boxes2 > li > p:first-child::before {
    position: absolute;
    left: 0px;
    content: '';
    border-bottom: 3px solid #d93c38;
    width: 100%;
    bottom: 2px;
}*/
ul.sp-boxes.boxes2 > li > div.sp_passarea {
    padding: 0;
    margin: 0;
    background-color: #f7d8d7;
    font-weight: bold;
    text-align: center;
    font-size: 400%;
}
/* スマホで見る ここまで */